<div class="layout layout--col gap">
  {% assign scp = data %}
  {% assign show_image = trmnl.plugin_settings.custom_fields_values.show_image %}
  {% assign show_qr = trmnl.plugin_settings.custom_fields_values.show_qr %}
  {% assign has_image = false %}

  {% comment %} Use preprocessed data from transform.js, with fallback {% endcomment %}
  {% if scp.object_class and scp.object_class != "" %}
    {% assign object_class_extracted = scp.object_class %}
  {% else %}
    {% assign object_class_extracted = "" %}
    {% assign known_classes = "safe,euclid,keter,thaumiel,apollyon,neutralized,decommissioned,pending,explained" | split: "," %}
    {% for tag in scp.tags %}
      {% if known_classes contains tag %}
        {% assign object_class_extracted = tag %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if scp.procedures and scp.procedures != "" %}
    {% assign procedures_extracted = scp.procedures %}
  {% else %}
    {% assign procedures_extracted = "" %}
    {% if scp.raw_content contains "<strong>Special Containment Procedures:</strong>" %}
      {% assign after_procedures = scp.raw_content | split: "<strong>Special Containment Procedures:</strong>" | last %}
      {% if after_procedures contains "<strong>Description:</strong>" %}
        {% assign procedures_extracted = after_procedures | split: "<strong>Description:</strong>" | first | strip_html | strip %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if scp.description and scp.description != "" %}
    {% assign description_extracted = scp.description %}
  {% else %}
    {% assign description_extracted = "" %}
    {% if scp.raw_content contains "<strong>Description:</strong>" %}
      {% assign description_extracted = scp.raw_content | split: "<strong>Description:</strong>" | last | strip_html | strip %}
    {% endif %}
  {% endif %}

  {% comment %} Check if SCP has images {% endcomment %}
  {% if scp.images and scp.images.size > 0 %}
    {% assign first_image = scp.images | first %}
    {% if first_image and first_image != "" %}
      {% assign has_image = true %}
    {% endif %}
  {% endif %}

  <div class="content">
    {% if show_image == 'true' and has_image %}
      {% render 'scp_item_with_image'
        , title: scp.scp
        , title_size: 'title--medium'
        , title_clamp: '2'
        , object_class: object_class_extracted
        , show_procedures: trmnl.plugin_settings.custom_fields_values.show_procedures
        , procedures: procedures_extracted
        , description: description_extracted
        , image: first_image
        , qr_data: scp.url
        , qr_size: 'small'
        , show_qr: show_qr
        , overlay_padding: '4px'
      %}
    {% else %}
      {% render 'scp_item_no_image'
        , title: scp.scp
        , title_size: 'title--large'
        , title_clamp: '2'
        , object_class: object_class_extracted
        , show_procedures: trmnl.plugin_settings.custom_fields_values.show_procedures
        , procedures: procedures_extracted
        , description: description_extracted
      %}
    {% endif %}
  </div>
</div>

{% comment %} {% render 'scp_footer', 
    scp_number: scp.scp,
    object_class: object_class_extracted
%} {% endcomment %}